<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Statstro2024</title>
</head>
<body>
    <header>
        <a href="https://astrostatuoft.com" target="_blank"><img class="logo" src="img/ARTlogo-update.svg"></a>
        <nav>
            <ul>
                <li><a class="btn" href="index.html">Home</a></li>
                <li><a class="btn" href="schedule.html">Schedule</a></li>
                <li><a class="btn" href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <section class="flex-section">
        <div class="card">
                <h1 class="big-title">The organizing committee</h1>
        </div>
    </section>
    <section class="flex-section">
        <div class="card photo">
            <img src="img/GwendolynEadie_2018.jpg" alt= "A picture of Gwendolyn Eadie.">
            <div class="photo-text">
                <h2 class="h2-namebox">Gwendolyn Eadie</h2 class="h2-namebox">
                <p><a class="btn btn-larger" href=https://www.astro.utoronto.ca/~eadie/cover.html>Personal Website</a></p>
                <p>
          Gwen is an Assistant Professor of Astrostatistics, jointly appointed between the David A. Dunlap Department of Astronomy & Astrophysics (51%) and the Department of Statistical Sciences (49%).
                </p>
            </div>
        </div>

        <div class="card photo">
            <img src="img/NSERC_Speagle_Joshua_thumbnail.jpg" alt= "A picture of Joshua Speagle.">
        <div class="photo-text">
          <h2 class="h2-namebox">Joshua S. Speagle (沈佳士)</h2 class="h2-namebox">
          <p><a class="btn btn-larger" href=https://joshspeagle.com/>Personal Website</a></p>
          <p> 
Josh is an Assistant Professor of Astrostatistics, jointly appointed between the Department of Statistical Sciences (51%) and the David A. Dunlap Department of Astronomy & Astrophysics (49%).
          </p>
        </div>
        </div>

        <div class="card photo">
            <img src="img/TonyH.jpg" alt= "A picture of Antonio Herrera Martin.">
            <div class="photo-text">
              <h2 class="h2-namebox">Antonio Herrera Martin</h2 class="h2-namebox">
              <p><a class="btn btn-larger" href=https://alfa33333.github.io/>Personal Website</a></p>
              <p>
    Antonio (Tony) is a postdoctoral fellow in the David A. Dunlap Department of Astronomy & Astrophysics and Department of Statistical Sciences.
              </p>
            </div>
          </div>

          <div class="card photo">
            <img src="img/KevinMcK_headshot.jpg" alt= "A picture of Kevin McKinnon.">
            <div class="photo-text">
              <h2 class="h2-namebox">Kevin McKinnon</h2 class="h2-namebox">
              <p><a class="btn btn-larger" href= https://www.kevinmckinnon.com/>Personal Website</a></p>
              <p>
    Kevin is a Canadian Institute for Theoretical Astrophysics (CITA) Postdoctoral Researcher whose research focuses predominantly on understanding how the Milky Way formed and evolved through Galactic Archeology.
              </p>
            </div>
          </div>

          <div class="card photo">
            <img src="img/AmandaCook_Profile.jpg" alt= "A picture of Amanda Cook.">
            <div class="photo-text">
              <h2 class="h2-namebox">Amanda Cook</h2 class="h2-namebox">
              <p><a  class="btn btn-larger" href="https://www.astro.utoronto.ca/~cook/">Personal Website</a></p>
              <p> 
    Amanda is a Ph.D. candidate in the David A. Dunlap Department of Astronomy & Astrophysics supervised by Profs. Bryan Gaensler (UCSC), Gwen Eadie, and Paul Scholz (York University). 
              </p>
            </div>
          </div>

          <div class="card photo">
            <img src="img/david_li.jpg" alt= "A picture of David Li.">
            <div class="photo-text">
              <h2 class="h2-namebox">David Li</h2 class="h2-namebox">
              <p><a class="btn btn-larger" href="https://ddavidli.com/">Personal Website</a></p>
              <p> 
    David is a Ph.D. candidate, CANSSI Ontario Multidisciplinary Doctoral (Mdoc) trainee, and Data Sciences Institute Doctoral Fellow</a> in the Department of Statistical Sciences supervised by Profs. Gwen Eadie, Patrick Brown, and Roberto Abraham.
                </p>
            </div>
          </div>

          <div class="card photo">
            <img class="person-thumbnail" src="img/sam_profile.jpg" alt= "A picture of Samantha Berek.">
            <div class="photo-text">
              <h2 class="h2-namebox">Samantha Berek</h2 class="h2-namebox">
              <p>
    Sam is a 4th year PhD candidate in the David A. Dunlap Department of Astronomy & Astrophysics, supervised by Gwen Eadie and Josh Speagle.
              </p>
            </div>
          </div>

          <div class="card photo">
            <img src="img/Phil_Headshot.jpg" alt= "A picture of Phil Van-Lane.">
            <div class="photo-text">
              <h2 class="h2-namebox">Phil Van-Lane</h2 class="h2-namebox">
              <p> 
    Phil is a 2nd year PhD student in the David A. Dunlap Department of Astronomy & Astrophysics co-supervised by Drs. Eadie and Speagle and Dr. Ryan Cloutier (McMaster).
              </p>
            </div>
            

          </div>



    </section>
    
</body>
</html>