<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <title>Statstro2024</title>
</head>
<body>
    <header>
        <a href="https://astrostatuoft.com" target="_blank"><img class="logo" src="img/ARTlogo-update.svg"></a>
        <nav>
            <ul>
                <li><a class="btn" href="index.html">Home</a></li>
                <li><a class="btn" href="schedule.html">Schedule</a></li>
                <li><a class="btn" href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero" >
        <div class="card card-fixed"></div>
        <div class="card">
            <h1>Statstro<br>2024</h1>
            <p>Cherry Room (9016), Department of Statistical Sciences, 700 University Avenue, 9th floor</p>
            <p>Sponsored by the Dunlap Institute and the Department of Statistical Sciences</p>
            <p>May 1st  2024 from 10 am - 5 pm EDT</p>
            <a href="#" class="btn">Thank you for joining</a>
        </div>
    </section>
    <section>
        <div class="card bottom">
            <div class="inner-text">
                <h2>What is Statstro?</h2>
                <p>Statstro is a conference for statisticians, data scientists, and anyone else who works with data. It is a great opportunity to learn from experts in the field, network with other professionals, and stay up-to-date on the latest trends and developments in data science.</p>
            </div>
            <div class="inner-fill-right"></div>
    </section>
    <footer>
        <p>&copy; 2024 Astrostatistics Research Team at University of Toronto. The ART is based out of the <a href="https://www.statistics.utoronto.ca/">Department of Statistical Sciences</a> and the <a href="https://www.astro.utoronto.ca/">David A. Dunlap Department of Astronomy & Astrophysics</a>, with additional support from the <a href="https://www.dunlap.utoronto.ca/">Dunlap Institute for Astronomy & Astrophysics</a> and the <a href="https://datasciences.utoronto.ca/">Data Sciences Institute</a>. This website was built and designed by <a href="https://alfa33333.github.io">Antonio Herrera Martin</a>.</p>
    </footer>
    
</body>
</html>