.oc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.8em;
    height: 100%;
    width: 99%;
    position: relative; /* Ensure the container is positioned for the pseudo-element */
    border: 5px groove #704210;
    border-radius: 20px;
    border-style: groove;
}


.oc::before {
    content: ""; /* Ensure the pseudo-element is rendered */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/parchment_bg.jpg');
    background-size: cover; /* Ensure the background image covers the container */
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1; /* Place the pseudo-element behind the content */
}

.bio {
    font-size: medium;
    text-align: left;
    width: 85%;
}

.name {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    width: 70%;
    font-family: 'Outlaw', sans-serif;
    color: rgb(100, 47, 0);
    margin: auto;
    padding: 0.2em;
}

.oc-image {
    padding: 5px;
    border-radius: 5px;
    border-style: groove;
    border-width: 5px;
    border-color: tan;
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.site-button {
    font-size: medium;
    color: rgb(79,37,0);
    background-color: tan;
    border-style: groove;
    border-color: rgb(100, 47, 0);
    border-width: 3px;
    padding-inline: 1em;
    padding-block: 0.5em;
    text-decoration: none;
    font-weight: bold;;
}

.site-button a:visited {
    color: rgb(79,37,0); /* Style for visited links inside .register-button */
    text-decoration: none;
  }