.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  background-color: tan;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 15px 15px;
  border-width: 0px 0px 5px 0px;
  border-color: #4e3d1a;
  border-style: solid;
  padding-right: 30px;
}

.artLogo {
  justify-content: left;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.nav-links {
  display: flex;
}

.route-link {
  padding: 30px;
  color: rgb(79, 37, 0);
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.route-link a:visited {
  color: rgb(79, 37, 0); /* Style for visited links inside .route-link */
}

.register-button a:visited {
  color: white; /* Style for visited links inside .register-button */
}

.link {
  text-decoration: none;
}

.register-button {
  background-color: rgb(79, 37, 0);
  font-size: x-large;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 50px;
  padding: 20px 30px;
  max-height: fit-content;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;
  align-self: center;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Stack links vertically */
    align-items: flex-start; /* Align links to the left */
    padding: 10px 0;
  }

  .route-link {
    padding: 10px 0; /* Reduce padding for vertical layout */
  }

  .register-button {
    margin-left: 0; /* Remove left margin for vertical layout */
    margin-top: 10px; /* Add top margin for spacing */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
